{% extends 'layouts/base.twig' %}
{%  block caurosel %}
<section>
  <div class="featured-area">
    <div class="main-slider">
      <div id="rev_slider_1063_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="highlight-showcase122" data-source="gallery" style="margin:0px auto;background-color:rgb(235, 239, 242);padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
        <div id="rev_slider_1063_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
          <ul>	<!-- SLIDE  -->
            <li data-index="rs-2985" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="images/slider/featured-avatar100x55.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Impression" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="{{ asset('images/slider/featured-avatar.jpg') }}"  alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption News-Title tp-resizeme"
                   id="slide-2985-layer-1"
                   data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']"
                   data-y="['center','center','center','center']" data-voffset="['-100','-100','-100','-80']"
                   data-width="auto"
                   data-height="auto"
                   data-whitespace="normal"
                   data-type="text"
                   data-responsive_offset="on"
                   data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inhexrit;e:inherit;","ease":"nothing"}]'

                   data-fontsize="['55','55','40','40']"
                   data-lineheight="['50','50','30','30']"
                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"


                   style="z-index: 5; white-space: normal; font-family: Mukta Mahee; font-weight: 900; line-height: 55px; color: #fff;">Impression<br> <span style="color: #f2335e;">Make</span> <br> Customers</div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption tp-resizeme"
                   id="slide-2985-layer-2"
                   data-x="['left','left','left','left']"
                   data-hoffset="['80','80','40','40']"
                   data-y="['center','center','center','center']"
                   data-voffset="['40','40','40','40']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'

                   data-fontsize="['16','16','14','14']"
                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 6;border-width:0px; font-family: Mukta Mahee; color: #fff; line-height: 25px;"> We've been established 13 years, giving us plenty of time to perfect<br>our service In that time we've grown from 115 sales to over 7000<br> with full warranty </div>

              <!-- LAYER NR. 3 -->
              <a class="tp-caption News-Subtitletp-resizeme" href="#"
                 id="slide-2985-layer-3"
                 data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']"
                 data-y="['center','center','center','center']" data-voffset="['130','130','120','120']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"

                 data-type="button"
                 data-responsive_offset="on"

                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"

                 style="z-index: 7; white-space: nowrap;cursor:pointer; font-family: Mukta Mahee; color: #fff; font-size: 20px; font-weight: 800; text-decoration: underline;">CONTACT NOW </a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-2986" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="images/Sail-Away-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Experience" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="{{ asset('images/slider/featured-avatar5.jpg') }}"  alt=""  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption News-Title tp-resizeme"
                   id="slide-2985-layer-1"
                   data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']"
                   data-y="['center','center','center','center']" data-voffset="['-100','-100','-100','-80']"
                   data-width="auto"
                   data-height="auto"
                   data-whitespace="normal"
                   data-type="text"
                   data-responsive_offset="on"
                   data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'

                   data-fontsize="['55','55','40','40']"
                   data-lineheight="['50','50','30','30']"
                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 5; white-space: normal; font-family: Mukta Mahee; font-weight: 900; line-height: 60px; color: #fff;">Expreience <br> <span style="color: #f2335e;">Cars</span> <br> Leasing</div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption tp-resizeme"
                   id="slide-2985-layer-2"
                   data-x="['left','left','left','left']"
                   data-hoffset="['80','80','40','40']"
                   data-y="['center','center','center','center']"
                   data-voffset="['40','40','40','40']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'

                   data-fontsize="['16','16','14','14']"
                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 6;border-width:0px; font-family: Mukta Mahee; color: #fff; line-height: 25px;"> Don't just take our word for it. We're rated at 9.7/10 on independent,<br> review website TrustPilot, from over 4,000<br> genuine customer reviews. </div>

              <!-- LAYER NR. 3 -->
              <a class="tp-caption News-Subtitletp-resizeme" href="#"
                 id="slide-2985-layer-3"
                 data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']"
                 data-y="['center','center','center','center']" data-voffset="['130','130','120','120']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"

                 data-type="button"
                 data-responsive_offset="on"

                 data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"nothing"}]'
                 data-textAlign="['left','left','left','left']"
                 data-paddingtop="[0,0,0,0]"
                 data-paddingright="[0,0,0,0]"
                 data-paddingbottom="[0,0,0,0]"
                 data-paddingleft="[0,0,0,0]"

                 style="z-index: 7; white-space: nowrap;cursor:pointer; font-family: Mukta Mahee; color: #fff; font-size: 20px; font-weight: 800; text-decoration: underline;">REGISTER NOW</a>
            </li>
            <!-- SLIDE  -->
            <li data-index="rs-2940" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/images/mountainbg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Budget" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="#"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->

              <!-- LAYER NR. 18 -->
              <div class="tp-caption tp-resizeme"
                   id="slide-2940-layer-1"
                   data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
                   data-y="['middle','middle','middle','bottom']" data-voffset="['0','0','0','-100']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="image"
                   data-responsive_offset="on"

                   data-frames='[{"from":"x:left;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 22;text-transform:left;border-width:0px;"><img src="images/slider/3rdslide-png.png" alt="" data-ww="['auto','auto','auto','220']" data-hh="['auto','auto','auto','320']" width="auto" height="auto" data-no-retina> </div>



              <!-- LAYER NR. 20 -->
              <div class="tp-caption WebProduct-Title tp-resizeme"
                   id="slide-2940-layer-7"
                   data-x="['right','right','right','center']" data-hoffset="['20','0','50','0']"
                   data-y="['middle','middle','middle','top']" data-voffset="['-80','-80','-60','30']"
                   data-fontsize="['45','30','20','30']"
                   data-lineheight="['50','50','30','30']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                   data-textAlign="['left','left','left','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 24; white-space: nowrap; text-transform:left; font-weight: 800; letter-spacing: -0.6px;">Make an Impression<br/>Cars for every budget</div>


              <!-- LAYER NR. 22 -->
              <div class="tp-caption WebProduct-Content   tp-resizeme"
                   id="slide-2940-layer-9"
                   data-x="['right','right','right','center']" data-hoffset="['50','230','85','0']"
                   data-y="['middle','middle','top','top']" data-voffset="['35','35','250','100']"
                   data-fontsize="['18','18','18','14']"
                   data-lineheight="['28','24','24','22']"
                   data-width="['448','356','334','277']"
                   data-height="['none','none','76','68']"
                   data-whitespace="normal"

                   data-type="text"
                   data-responsive_offset="on"

                   data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                   data-textAlign="['left','left','left','center']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[0,0,0,0]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[0,0,0,0]"

                   style="z-index: 26; min-width: 360px; max-width: 360px; white-space: normal; font-family: Mukta Mahee; color: #1e1e1e; line-height: 25px;">
                We have a dedicated procurement team working around the clock to make sure you always get the best deals......</div>

              <!-- LAYER NR. 23 -->
              <div class="tp-caption WebProduct-Button rev-btn "
                   id="slide-2940-layer-8"
                   data-x="['center','center','center','center']" data-hoffset="['200','230','50','0']"
                   data-y="['middle','middle','bottom','top']" data-voffset="['130','80','80','180']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"

                   data-type="button"
                   data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2941","delay":""}]'
                   data-responsive_offset="on"
                   data-responsive="off"
                   data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);bw:2px 2px 2px 2px;"}]'
                   data-textAlign="['left','left','left','left']"
                   data-paddingtop="[0,0,0,0]"
                   data-paddingright="[40,40,40,30]"
                   data-paddingbottom="[0,0,0,0]"
                   data-paddingleft="[40,40,40,30]"

                   style="z-index: 27; white-space: nowrap;text-transform:left; background: #fff; color: #1e1e1e; font-size: 15px; font-family: Mukta Mahee;">RIDE NOW</div>
            </li>
          </ul>
          <div class="tp-bannertimer" style="height: 6px; background-color: rgba(46, 209, 255, 1.00);"></div>
        </div>
      </div><!-- END REVOLUTION SLIDER -->
    </div>
    <div class="featured-meta">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="cola-topmeta">
              <div class="colaroute-search">

                <a class="theme-btn" href="{{ path_for('order') }}" title=""><i class="fa fa-car"></i>Order for refill</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="cola-submition">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- featured area section -->
{%  endblock %}
{%  block content %}
  <section>
    <div class="space">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading">
              <h2>Things you’ll love about Car Carry</h2>
              <h5>Say no to empty seats.</h5>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="cola-services">
                  <li>
                    <figure>
                      <i class="flaticon-key-1"></i>
                    </figure>
                    <div class="services-meta">
                      <h4>you’re in control</h4>
                      <p>Verified member profiles & ratings mean you know exactly who you're travelling with.</p>
                    </div>
                  </li>
                  <li>
                    <figure>
                      <i class="flaticon-handshake"></i>
                    </figure>
                    <div class="services-meta">
                      <h4>carpool with confidence</h4>
                      <p>ID verification adds another level of security to member profiles.</p>
                    </div>
                  </li>
                  <li>
                    <figure>
                      <i class="flaticon-favorites"></i>
                    </figure>
                    <div class="services-meta">
                      <h4>ride fully insured</h4>
                      <p>We partner to cover your ride from start to finish, absolutely free of charge.</p>
                    </div>
                  </li>
                  <li>
                    <figure>
                      <i class="flaticon-teacher-pointing-blackboard"></i>
                    </figure>
                    <div class="services-meta">
                      <h4>Car Carry points</h4>
                      <p>Earn points everytime you reserve a seat or rent a car & get discounts.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- services section -->
  <section>
    <div class="space no-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading">
              <h2>Client says about us</h2>
              <h5>Our Happy Clients</h5>
            </div>
            <ul class="review-caro">
              <li>
                <div class="review-meta">
                  <p>
                    car carry help us for our car finance and we are very happy to work with this company. i always refer to my friends to join this company for earn and enjoy!
                  </p>
                  <ul class="stars-rating">
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                  </ul>
                  <div class="review-face">
                    <img src="images/resources/latest-ser-3.jpg" alt="">
                    <div>
                      <h4>Andrew Jhon</h4>
                      <span>manager cct</span>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="review-meta">
                  <p>
                    Jessica is very outgoing and peaceful. I had such a great time on the full ride with here. 100% recommended!, especially when they are getting picked up.
                  </p>
                  <ul class="stars-rating">
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                    <li><i class="fa fa-star checked"></i></li>
                  </ul>
                  <div class="review-face">
                    <img src="images/resources/latest-ser-1.jpg" alt="">
                    <div>
                      <h4>Jessica</h4>
                      <span>manager cct</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section><!-- reviw carousel -->



  <section>
    <div class="space no-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="funfact">
              <span><i class="flaticon-heart"></i></span>
              <div class="fun-meta">
                <span class="counter">20</span>
                <h5>user love Car Carry</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="funfact">
              <span><i class="flaticon-road-perspective-of-curves"></i></span>
              <div class="fun-meta">
                <span class="counter">4329</span>
                <h5>rides made per day</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="funfact">
              <span><i class="flaticon-favorites"></i></span>
              <div class="fun-meta">
                <span class="counter">321</span>
                <h5>ratings made daily</h5>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="funfact">
              <span><i class="flaticon-users"></i></span>
              <div class="fun-meta">
                <span class="counter">100</span>
                <h5>new users register daily</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





  <section>
    <div class="space no-top">
      <div class="cola-sponsorz">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <ul class="sponsors-list">
                <li><a href="#" title=""><img src="images/resources/sponsor-1.png" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resources/sponsor-2.png" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resources/sponsor-3.png" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resources/sponsor-4.png" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- sponsors section -->

{%  endblock %}



